<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#each postData}}
<article>
    <header>
        <h2 class="blog-title"><a href={{concat a = "/blog-post/" b = page_slug}}>{{title}}</a></h2>
        <p><small>By {{author}} on {{formatTime date "LLL"}} </small></p>
    </header>
    <section class="post-content">
        
        <div>{{md (concat a = "./data/blog/" b = page_slug c = "/content.md")}}</div>
        
    </section>
    <footer>
        
    </footer>
</article>
{{/each}}